@charset "UTF-8";

@media screen and (max-width: 320px){
    main { /*Tudo flexivel para pequenos dispositivos :) */
        width: 100vw;
    }

    main>article>img {
        width: 100vw;
    }

    #imail, #ipw {
        width: 90vw;
    }

    #entrar, #esenha {
        width: 90vw;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {

    main {width: 310px;}
    main>article>img{width:310px;}

        #imail, #ipw {
            width: 275px;
            height: 30px;
        }

        #entrar, #esenha {
            width: 300px;
            height: 50px;
        }

        #entrar {
            margin-top: 10px;
        }

        .intro {
            font-size: 0.9em;
        }
}

@media screen and (min-width: 769px) and (max-width: 1200px){

    body {overflow-x: hidden;}

    main {   
        width: 735px;
        max-height: 300px;
        border: 5px groove black;
    }

    main>article>img {
        height: 310px;
        
        margin-right: 500px;
        border-radius: 5px;
        
    }

    div.intro {
        transform: translate(23%);
        position: relative;
        width: 300px;
        top: -315px;
        left: 266px;
        font-size: 0.9em;
        padding: 10px;
        text-align: center;
    }

    .menulogin {
        transform: translate(47%, -148%);
        padding: 10px;
        display: inline-block;
    }

    #imail {margin-bottom: 3px;}
    #ipw {margin-bottom: -1px;}

}

@media screen and (min-width: 1200px) {

    main {
        width: 900px;
        max-height: 380px; 
        
        border: 2px groove black;
    }

    main>article>img {
        width: 400px;
        min-height: 390px;
        
        margin-right: 500px;
        border-radius: 8px;
    }

    main>div.intro {
        position: relative;
        transform: translate(23%);
            bottom: 390px;
            left: 385px;
       
        width: 340px;
        font-size: 1.1em;
        padding: 10px;
    }

    .menulogin {
        transform: translate(54%, -145%);
        padding: 10px;
        display: inline-block;
    }
    
    #imail, #ipw {
        width: 300px;
        height: 40px;
    }

    #imail {margin-bottom: 5px;}

    #entrar, #esenha {
        width: 350px;
        height: 60px;
    }
}