@charset "UTF-8";

@media screen and (max-width: 320px){

    main {
        transform: translate(-50%);
        width: 100vw;
        height: 590px;   
    }

    main>article>img {
        width: 95vw; 
        height: 90vw;
        margin-top: 5px;   
    }

    #entrar, #esenha {
        width: 95vw;
        height: 17vw;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {

    main {
        transform: translate(-50%, -3%);
        width: 66vw;
        height: 657px;
        min-width: 310px;
        max-width: 321px;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    main>article>img {
        width: 66vw;
        min-width: 310px;
        max-width: 320px;
        height: 300px;
    }

    #imail, #ipw {
        width: 275px;
        height: 30px;
    }

    #entrar, #esenha {
        width: 300px;
        height: 50px;
    }

    #entrar {
        margin-top: 10px;
    }

    .intro {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){

    main {
        transform: translate(-50%, 50%);
        width: 90vw;
        height: 300px;
        min-width: 310px;
        max-width: 700px;
        
        margin-top: 30px;
        margin-bottom: 100px;
    }

    main>article>img {
        transform: translate();
        right: 209px;
        width: 66vw;
        min-width: 310px;
        max-width: 320px;
        height: 310px;
        position: relative;
    }

    div.intro {
        transform: translate(23%);
        position: relative;
        width: 300px;
        top: -315px;
        left: 260px;
        font-size: 0.9em;
        padding: 10px;
        text-align: center;
        outline: 2px solid red;
    }

    .menulogin {
        transform: translate(47%, -145%);
        outline: 2px solid red;
        padding: 10px;
        display: inline-block;
    }

}