@charset "UTF-8";

@media screen and (max-width: 320px){

    main {
        transform: translate(-50%, 5%);
        width: 100vw;   
    }

    main>article>img {
        width: 100vw;    
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {

    main {
        transform: translate(-50%, 25%);
        width: 66vw;
        height: 657px;
        min-width: 310px;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    
    main>article>img {
        width: 310px;
        height: 300px;
    }

    #imail, #ipw {
        width: 275px;
        height: 30px;
    }

    #entrar, #esenha {
        width: 300px;
        height: 50px;
    }

    #entrar {
        margin-top: 10px;
    }

    .intro {
        font-size: 0.9em;
    }



}

@media screen and (min-width: 768px) and (max-width: 1200px){
    main {
        transform: translate(-50%);
        
    }
}