@charset "UTF-8";

@media screen and (max-width: 320px){
    main { /*Tudo flexivel para pequenos dispositivos :) */
        width: 100%;
    }

    main>article>img {
        display: none;
        width: 100%;
    }

    #imail, #ipw {
        width: 90%;
    }

    #entrar, #esenha {
        width: 90%;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {

    main {
        width: 310px;
        height: auto;
            border: 2px groove black;
        }

    main>article>img{
        transform: translate();
        width:310px;
            border-radius: 8.2px;
    }

        .intro {
            font-size: 1em;
            transform: translate(0, 260%);
            position: absolute;
        }

        .menulogin {
        margin-top: 120px;
        display: inline-block;
    }

        #imail, #ipw {
            width: 275px;
            height: 30px;
        }

        #entrar, #esenha {
            width: 300px;
            height: 50px;
        }

        #entrar {
            margin-top: 10px;
        }

}

@media screen and (min-width: 769px) and (max-width: 1200px){

    body {overflow-x: hidden;}
    main {   
        width: 735px;
        max-height: 300px;
        border: 5px groove black;
    }

    main>article>img {
        height: 310px;
        
        margin-right: 500px;
        border-radius: 5px;
        
    }

    div.intro {
        transform: translate(112%, -5%);
        position: absolute;
        width: 300px;
    }

    .menulogin {
        transform: translate(47%, -99%);
        padding: 10px;
        display: inline-block;
    }

    #imail {margin-bottom: 3px;}
    #ipw {margin-bottom: -1px;}

}

@media screen and (min-width: 1200px) {

    main {
        width: 900px;
        max-height: 380px; 
        
        border: 2px groove black;
    }

    main>article>img {
        transform: translate(-62.65%);
        width: 400px;
        min-height: 390px;
        border-radius: 8px;
    }

    div.intro {
        transform: translate(152.5%);
        position: absolute;
        width: 300px;
    }

    .menulogin {
        transform: translate(54%, -100%);
        padding: 10px;
        display: inline-block;
    }
    
    #imail, #ipw {
        width: 300px;
        height: 40px;
    }

    #imail {margin-bottom: 5px;}

    #entrar, #esenha {
        width: 350px;
        height: 60px;
    }
}