@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=IM+Fell+French+Canon+SC&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif+JP:wght@200..900&display=swap');

:root {
    --fonte-Google: "Google Sans Flex", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-Google);
    outline: 1px solid red !important;
}

body {
    background-image: linear-gradient(rgb(158, 158, 158), rgb(80, 80, 80), rgb(0, 0, 0));
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

main {
    
    border-radius: 10px;
    font-size: 1.2em;
    padding: 0px 0px 10px 0px;
    transform: translate(-50%, 25%);
    left: 50%;
    position: absolute;
    text-align: center;
    margin: auto;
    
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.26);
    background-color: white;
}

main>article>img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

div.intro {
    padding: 10px;
}

div>h1 {
    text-shadow: 4px 1px 1px rgba(0, 0, 0, 0.219);
}

div>p {
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.151);
}

#imail, #ipw {
    background-color: rgba(4, 53, 68, 0.274);
    border: 1.5px solid rgb(0, 0, 0);
    color: white;
    width: 250px;
    height: 25px;
    padding: 8px;
    border-radius: 0px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.219);
}


#entrar {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to left,white,rgba(128, 128, 128, 0.452),rgba(0, 0, 0, 0.521));
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.13);
}

#entrar:hover {
    background-color: #b3b3b383;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.329);
}

#esenha {
    width: 300px;
    height: 50px;
    margin-top: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right,white,rgba(128, 128, 128, 0.226)
    ,white);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.13);
}

#esenha:hover {
    background-color: rgba(128, 128, 128, 0.342);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.329);
}
